/*universal version*/
* {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  color: rgb(100, 95, 90);
}

.container {
  display: flex;
  text-align: left;
  width: 100%;
}
.lightGrey {
  background: lightGrey;

}

h2 {
  font-size: 2rem;
}
 .learningPart h2, .exhibitPart h2 {
  margin: 2rem auto;
  text-align: center;
}
.sideContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}
.item {
  display: flex;
}
.item .text {
  align-self: center;
}
.mobile {
  display: none;
}

/*Header*/

header .container {
  height: 4rem;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 100;
}

header .logo {
  height: 2rem;
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
}
.dark {
  color: rgb(100, 95, 90);
}
.light {
  color: darkGrey;
}

header nav>ul{
  display: flex;
  margin-right: 1.5rem;
}

header ul>li {
  margin: 0 .5rem;
}
@media only screen and (max-width:470px) {
  .desktop{
  display: none;
  }
  header .mobile{
      display: flex;
      text-align: center;
    }
}



/*Starting Part*/
.startingPart {
  position: relative;
  top: 4rem;
  width: 100%;
}
.startingPart .container {
  justify-content: flex-start;
  align-items: center;

}
.imageContainer {
  width: 60%;
  height: auto;
  padding: 2rem 1.5rem;
}
.startingPart .headline {
  display: flex;
  flex-direction: column;
  margin-right: 2.5rem;
}
.startingPart h1 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 45px;
  font-weight: bold;
  color: rgb(100, 95, 90);
}
.startingPart h3 {
  font-size: 1.2rem;
  font-family:'Noto Sans', sans-serif;
  padding: 2rem 0;
  color: rgb(100, 95, 90);
}
button {
  color: white;
  background-color: rgb(100, 95, 90);
  padding: .5rem 0;

}
@media only screen and (max-width:470px) {
  .startingPart .container {
    display: block;
  }
  .imageContainer{
    width: 100%;
    margin-left: -24px;
  }
  .headline {
    padding: 0 0 32px 16px;
  }
}

/*Practice Part*/

.practicePart .container {
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 64px;
}

.practicePart .imageContainer img {
  display: block;
  width: 100%;
  height: auto;
}
.practicePart .imageContainer .text {
  margin: 2rem 0;
}
.practicePart h2 {
  margin-bottom: 1.5rem;
}
p.quotes {
  padding-top: 1.5rem;
  padding-bottom: 2rem;
}
.practicePart .sideContainer{
  border-left: 1px solid lightGrey;
}
.practicePart .item {
  border-bottom: 1px solid lightGrey;
  flex-grow: 1;
}
.img {
  width: 35%;
  display: inline-block;
  margin: 1rem;
}
.item img {
  width: 100%;
  height: auto;
}

.first {
  margin-top: 1rem;
}
.last {
  margin-bottom: 2rem;
}
@media only screen and (max-width:470px) {
  .practicePart .imageContainer {
    display: none;
  }
  .practicePart .sideContainer{
    border: none;
    width: 100%;
  }
  .practicePart .item {
    border: none;
    display: block;
    width: 100%;
  }
  .item .img {
   width: 100%;
   height: auto;
   margin: 2rem 1rem;
  }
  .item .text {
    margin-left: 1rem
  }
  .last{
    background-color: white;
  }
  }

/*Learning Part*/
.learningPart {
  background-color: gainsboro;
}

.learningPart .container {
  flex-wrap: wrap;
  margin: 32px 72px;
}
.course  {
  width: 30%;
}
.course img {
  width: 100%;
  height: auto;
}
.course .text {
  background-color: white;
}

.courseName {
  background-color: lightGrey;
  display: block;
  margin: 8px 16px;

}
.courseName h3 {
  padding: 16px 0 24px 16px;
}

@media only screen and (max-width:470px) {
.learningPart .mobile {
  display: block;
  }
.learningPart h2{
  margin: 32px 0 8px 0;
}
  }
/*Thesis Exhibit Part*/

@media only screen and (max-width:470px) {

  }


















/*Footer*/
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 16px 24px;
}
footer nav span {
  margin-left: 16px;
}
