/*universal version*/
* {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
  color: rgb(100, 95, 90);
}

.container {
  display: flex;
  text-align: left;
  width: 100%;
}
.lightGrey {
  background: lightGrey;

}
h1 {
  font-size: 3rem
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.17rem;
}
 .learningPart h2, .exhibitPart h2 {
  padding: 2rem 0;
  text-align: center;
}
.sideContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}
.item {
  display: flex;
}
.item img {
  max-width: 100%;
  height: auto;
}
.item .text {
  align-self: center;
  width: 65%;
}
.img {
  width: 35%;
  display: inline-block;
  margin: 1rem;
}
.mobile {
  display: none;
}

/*Header*/

header .container {
  height: 4rem;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 100;
}

header .logo {
  height: 2rem;
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
}
.dark {
  color: rgb(100, 95, 90);
}
.light {
  color: darkGrey;
}

header nav>ul{
  display: flex;
  margin-right: 1.5rem;
}

header ul>li {
  margin: 0 .5rem;
}
@media only screen and (max-width:960px) {
  .desktop{
  display: none;
  }
  header .mobile{
      display: flex;
      text-align: center;
      justify-content: space-around;
    }
}

.imageContainer {
  width: 60%;
  height: auto;
  padding: 2rem 1.5rem;
}


/*Starting Part*/
.startingPart {
  position: relative;
  top: 4rem;
  width: 100%;
}
.startingPart .container {
  justify-content: flex-start;
  align-items: center;
}


.startingPart .headline {
  display: flex;
  flex-direction: column;
  margin-right: 2.5rem;
}
.startingPart h1 {
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  color: rgb(100, 95, 90);
}
.startingPart h3 {
  font-family:'Noto Sans', sans-serif;
  padding: 2rem 0;
  color: rgb(100, 95, 90);
}
button {
  color: white;
  background-color: rgb(100, 95, 90);
  padding: .5rem 0;

}
@media only screen and (max-width:960px) {
  .startingPart .container {
    display: block;
  }
  .imageContainer{
    width: 100%;
    padding: 0 0 2rem 0;
  }
  .headline {
    padding: 0 0 2rem 1rem;
  }
  button {
    padding: 1rem 0;
  }
}

/*Practice Part*/

.practicePart .container {
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 4rem;
}
.practicePart .imageContainer {
  border-right: 1px solid lightGrey;
}

.practicePart .imageContainer img {
  display: block;
  max-width: 100%;
  height: auto;
}
.practicePart .imageContainer .text {
  margin: 2rem 0;
}
.practicePart h2 {
  margin-bottom: 1.5rem;
}
p.quotes {
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  font-size: .9rem;
  color: black;
}

.practicePart .item {
  border-bottom: 1px solid lightGrey;
  flex-grow: 1;
}

.first {
  margin-top: 1rem;
}
.last {
  margin-bottom: 2rem;
}
@media only screen and (max-width:960px) {
  .practicePart .imageContainer {
    display: none;
  }
  .practicePart .sideContainer{
    border: none;
    width: 100%;
  }
  .practicePart .item {
    border: none;
    display: block;
    width: 100%;
  }
  .item .img {
   width: calc(100% - 2rem);
   height: auto;
   margin: 2rem 1rem;
  }
  .practicePart .mobile {
    display: block;
    margin: 0 auto;
  }

  .item .text {
    max: 100%;
    margin: 0 auto;

  }
  .last{
    background-color: white;
  }
  }

/*Learning Part*/
.learningPart {
  background-color: gainsboro;
}

.learningPart .container {
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -1rem;
  padding-bottom: 1rem;
}
.course  {
  width: 25%;
  padding: 1rem;
}
.course img {
  width: 100%;
  height: auto;
}
.course .text {
  background-color: white;
  padding: 1rem;
  height: 10.5rem;
}
.text h3 {
  padding-bottom: 0.5rem;
}
.info {
  padding:0.5rem 0;
}

.courseName {
  background-color: lightGrey;
  display: block;
  margin: .5rem 1rem;

}
.courseName h3 {
  padding: 1rem 0 1.5rem 1rem;
}

@media only screen and (max-width:960px) {
.learningPart {
  background-color: white;
}
.learningPart .mobile {
  display: block;
  }
.learningPart h2{
  margin: 2rem 0 .5rem 0;
}
  }
/*Thesis Exhibit Part*/

/*Footer*/
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem 1.5rem;
  width: calc(100% - 3rem);
}
footer nav span {
  margin-left: 1rem;
}
